# Segmenting and Clustering Neighborhoods in Toronto

<font color=red>PART 1 </font>

In [1]:
# Lets start by importing all the modules and declaring the global variables
import pandas as pd
import numpy as np
import folium # map rendering library
import requests
# import k-means from clustering stage
from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
pd.set_option('display.max_colwidth', -1)
import matplotlib.cm as cm
import matplotlib.colors as colors

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  # Remove the CWD from sys.path while we load stuff.

## Explore Dataset

In [2]:
tables = pd.read_html(link,header=0)[0]
tables.head()

  Postal Code           Borough               Neighborhood
0  M1A         Not assigned      Not assigned
1  M2A         Not assigned      Not assigned
2  M3A         North York        Parkwoods
3  M4A         North York        Victoria Village
4  M5A         Downtown Toronto  Regent Park, Harbourfront

In [3]:
# Renaming the columns
tables.columns = ['PostalCode', 'Borough', 'Neighborhood']
# Extracting Table that has an assigned borrow
table_b_a = tables[tables['Borough'] != 'Not assigned']
# Extracting Table that has not assigned borrow
table_b_na = tables[tables['Borough'] == 'Not assigned']

## Group by postcode

In [4]:
# Group by postcode
table_grouped = table_b_a.groupby('PostalCode')

## Join the Neigborhood in a group by comma

Creating a new empty dateframe

In [5]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood']

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [7]:
def add_comma_neighbor(grp):
    '''
    This function return the borough as well as Neighbor hood for each group combined or joined with comma.
    '''
    return table_grouped.get_group(grp)['Borough'].iloc[0], ", ".join(table_grouped.get_group(grp)['Neighborhood'])

In [8]:
# Looping for each group and appending the result to our empty neighborhoods dataframe just created
for grp in table_grouped.groups.keys():
    borough, neighbor = add_comma_neighbor(grp)
    neighborhoods = neighborhoods.append({'PostalCode' : grp,
                                          'Borough': borough,
                                          'Neighborhood': neighbor
                                         }, ignore_index=True)
neighborhoods.head()

  PostalCode      Borough                            Neighborhood
0  M1B        Scarborough  Malvern, Rouge
1  M1C        Scarborough  Rouge Hill, Port Union, Highland Creek
2  M1E        Scarborough  Guildwood, Morningside, West Hill
3  M1G        Scarborough  Woburn
4  M1H        Scarborough  Cedarbrae

## Assigning Borough to neighborhood if a cell has a borough but a *Not assigned* neighborhood

In [10]:
neighborhoods.loc[neighborhoods['Neighborhood'] == 'Not assigned', 'Neighborhood'] = neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']['Borough']

In [11]:
# Lets verify
neighborhoods[neighborhoods['PostalCode'] == 'M7A']

   PostalCode           Borough                                 Neighborhood
85  M7A        Downtown Toronto  Queen's Park, Ontario Provincial Government

In [58]:
neighborhoods.head()

  PostalCode      Borough                            Neighborhood
0  M1B        Scarborough  Malvern, Rouge
1  M1C        Scarborough  Rouge Hill, Port Union, Highland Creek
2  M1E        Scarborough  Guildwood, Morningside, West Hill
3  M1G        Scarborough  Woburn
4  M1H        Scarborough  Cedarbrae

Yes we were succesfull in our operation, Lets check the shape now

In [12]:
neighborhoods.shape

(103, 3)